# Ignore everything
/*

# TODO: make this simpler. maybe move things to src/

# Except these files & folders
!/app
!/server
!/database
!/tests
!/lib
!.prettierrc
!drizzle.config.ts
!package.json
!tsconfig.json
!tsconfig.node.json
!tsconfig.vite.json
!vite.config.ts
!server.js
!playwright.config.ts
!wrangler.jsonc
!README.md

/database/migrations
